@charset "utf-8";

#conteudo{
    width: 1000px;
    margin: auto;
}

#frame-spec{
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
}

#frame-spec::-webkit-scrollbar{
    display: none;
}

/*cabecalho da especificaçoes*/

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 23pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}    

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color:#cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 14px;
    color: #606060;
}   
